@import '@/presentation/styles/colors.module.scss';

.errorWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  .spinner {
    margin-top: 24px;
  }

  .error {
    margin-top: 24px;
    color: $primaryLight;
  }
}

