@import '@/presentation/styles/colors.module.scss';

.surveyListWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: $disabledBackground;

  .contentWrapper {
    display: flex;
    align-self: center;
    flex-direction: column;
    max-width: 800px;
    width: 100%;
    flex-grow: 1;
    padding: 32px;

    h2 {
      color: $primaryDark;
      font-size: 24px;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 16px;
    }

    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}
