// contrast colors
$white: #fff;
$black: #000;
$background: #f2f2f2;

// primary colors
$primary: #880e4f;
$primaryDark: #560027;
$primaryLight: #bc477b;

// status colors
$success: #00c853;
$error: #ff5252;

// disabled
$disabledBackground: #cecece;
$disabledColor: #6c6c6c;
