@import '@/presentation/styles/colors.module.scss';

.headerWrapper {
  display: flex;
  flex-direction: column;
  border-top: 24px solid $primaryDark;
  background-color: $primary;
  align-items: center;

  img {
    margin-top: 32px;
  }

  h1 {
    color: $white;
    margin: 16px 0 32px;
  }
}

@media only screen and (max-width: 600px) {
  .headerWrapper {
    border-top-width: 16px;
  }
}
