@import '@/presentation/styles/colors.module.scss';

.headerWrapper {
  display: flex;
  background-color: $primary;
  border-top: 24px solid $primaryDark;
  justify-content: center;

  .headerContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 800px;
    flex-grow: 1;
    padding: 16px 32px;
    align-items: center;

    img {
      width: 60px;
    }

    .logoutWrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 8px;
      align-items: end;
      color: $white;

      span {
        font-size: 16px;
      }

      a {
        color: $white;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .headerWrapper {
    border-top-width: 16px;
  }
}
